{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "animations": "./animations",
        "components": "./components",
        "formatting": "./formatting",
        "hooks": "./hooks",
        "i18n": "./i18n",
        "math": "./math",
        "open-id": "./open-id",
        "sanity": "./sanity",
        "theming": "./theming",
        "utils": "./utils"
      }
    }]
  ],
  "ignore": [
    "src/**/*.test.js",
    "src/**/*.spec.js",
    "src/**/*.stories.js",
    "src/**/*.md",
    "src/**/*.mdx",
    "src/**/*.preview.js"
  ]
}
