{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "react-app"
  ],
  "plugins": [
    "@babel/plugin-proposal-export-namespace-from"
  ],
  "ignore": [
    "src/**/*.test.js",
    "src/**/*.spec.js",
    "src/**/*.stories.js",
    "src/**/*.md",
    "src/**/*.preview.js"
  ]
}
