{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": false,
    "react/no-unused-prop-types": false
  },
  "extends": [
    "standard",
    "standard-jsx",
    "eslint-config-standard-react",
    "plugin:prettier/recommended",
    "prettier/standard"
  ],
  "globals": {
    "sessionStorage": true
  }
}
