{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "extends": [
    "standard",
    "standard-jsx",
    "eslint-config-standard-react",
    "plugin:prettier/recommended"
  ]
}
