import React, { Component } from "react"
import { Wrapper } from "@staccx/base"
import { ThemeProvider } from "styled-components"
import { BrowserRouter as Router } from "react-router-dom"
import theme from "./theme/Theme"

class App extends Component {
render() {
return (
<ThemeProvider theme={theme}>
        <Router>
            <Wrapper>
                <div>Fresh app smell...</div>
            </Wrapper>
        </Router>
</ThemeProvider>
)
}
}

export default App
