name: Perform tests
on:
  push:
    branches:
      - main
      - next
jobs:
  chromatic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '15.4'
      - name: Yarn install
        run: yarn install

      - name: Chromatic run
        uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC }}
          token: ${{ secrets.GITHUB_TOKEN }}
